@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
p
{
    font-weight: 300;
    color: #111;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo
{
    color: #111;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo
{
  color: #111;  
}
header .logo span
{
    color: #fff; 
}
header .navigation
{
    position: relative;
    display: flex;   
}
header .navigation li
{
     list-style: none;
     margin-left: 30px;
}
header .navigation li a
{
    text-decoration: none;
    color: #111;
    font-weight: 300;   

}
header.sticky .navigation li a
{
    color: #111;
}
header .navigation li a:hover
{
    color: #add8e6;
}
section
{
    padding: 100px;
}
.titleText
{
    color: #111;
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 300; 
    text-align: center;
}
.titleText span
{
    color: #111;
    font-weight: 700;
    font-size: 1.5em;
}
.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.breaking .content
{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.breaking .content .box
{
width: 340px;
margin: 20px;
border: 15px solid #fff;
box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.breaking .content .box .ImgBx
{
    position: relative;
    width: 100%;
    height: 300px;
}
.breaking .content .box .ImgBx img
{
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.breaking .content .box .text 
{
    padding: 15px 0 5px;
}
.breaking .content .box .text h3
{
   font-weight: 400;
   color: #111; 
}
.footerText
{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.footerText p
{
 color: #111;
 font-weight: 500;
 text-decoration: none;   
}

@media (max-width: 991px)
{
    header,
    header.sticky
{
padding: 10px 20px;
}
header .navigation
{
    display: none;
}
header .navigation.active
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
     align-items: center;
     flex-direction: column;
     background: #fff;

}
header .navigation li 
{   
    margin-left: 0;
}
header .navigation li a
{
    color: #111;
    font-size: 1.5em;
}
.menuToggle
{
    position: relative;
    width: 40px;
    height: 40px;
    background: url(navbar.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

}
.menuToggle.active
{
    background: url(close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}
header.sticky .menuToggle
{
    filter: invert(1);
}
section{
    padding: 20px;
}
.title
{
   text-align: center; 
}
.titleText
{
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 300;
}
.breaking .content
{
    margin-top: 20px;
}
.breaking .content .box
{
    margin: 10px;
}
.breaking .content .box .imgBx 
{
    height: 260px;
}
}

